/* Body */

@font-face {
	font-family: 'Circular-Black';
	src: url('fonts/circularfamilyweb/css/fonts/lineto-circular-black.eot'),
		url('fonts/circularfamilyweb/css/fonts/lineto-circular-black.eot?#iefix') format('embedded-opentype'),
		url('fonts/circularfamilyweb/css/fonts/lineto-circular-black.woff2') format('woff2'),
       	url('fonts/circularfamilyweb/css/fonts/lineto-circular-black.woff') format('woff');
}

@font-face {
	font-family: 'Circular-Book';
	src: url('fonts/circularfamilyweb/css/fonts/lineto-circular-book.eot'),
		url('fonts/circularfamilyweb/css/fonts/lineto-circular-book.eot?#iefix') format('embedded-opentype'),
		url('fonts/circularfamilyweb/css/fonts/lineto-circular-book.woff2') format('woff2'),
       	url('fonts/circularfamilyweb/css/fonts/lineto-circular-book.woff') format('woff');
}

body, html {
	margin: 0px;
	font-family: 'Circular-Book';
	background: #53C4CA;
}

h1, h2 {
	font-family: 'Circular-Black';
}

h2 {
	font-size: 3vh;
}

h1 {
	font-size: 5vh;
	margin-top: -.4em;
}

/* Styling for SVG elements */

.cls-20, .cls-16 {
	font-family: 'Circular-Book' !important;
}

/* Styling for Top and Bottom Content Divs */


#na-map, #bottom-content {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#top-content, #bottom-content {
	z-index: 1;
	padding: 8px;

}

#top-content {
	position: absolute;
	top: 1%;
	left: 1%;
	max-width: 20%;
	max-height: 20%;
	background: #53C4CA;
	color: white;
}

#logo_image {
	width: 50%;
}

.mobile-info-header, .info-box-mobile, #footer-wrapper, #mobile-footer {
	display: none;
}

#top-content h1, #top-content p {
	line-height: 110%;
}

#top-content h2 {
	margin-top: 5px; 
}

#top-content p {
	font-size: 2vh;
	width: 95%;
	margin-top: -1em;
}

#bottom-content {
	left: 1%;
	width: 10%;
	margin-top: 10%;
}

#report-button {
	font-family: 'Circular-Black';
	background: white;
	margin-bottom: 5%;
}

#donation-button {
	font-family: 'Circular-Black';
	background-color: #53C4CA;
}

#report-button, #donation-button {
	border: 1px solid white;
	min-height: 35px;
	white-space: nowrap;
	padding: 12px;
	font-size: 2vh;
}

#report-button:hover, #donation-button:hover {
	cursor: pointer;
}

a:visited #donation-button, a:hover #donation-button, a:active #donation-button, a:link #donation-button {
	color: white;
	text-decoration: none;
}

#report-button a:visited, #report-button a:hover, #report-button a:active, #report-button a:link {
	color: black;
	text-decoration: none;
}


/* Styling for Info-Box and inner-elements */

#click-here {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#click-here p {
	font-family: 'Circular-Book';
	font-size: .5em;
	color: white;
}

#info-box-container {
	opacity: 0;
	position: relative;
	top: 0;
	left: 0;
	padding: 15px;
	max-height: 25%;
	width: 14%;
	z-index: 10;
	border-radius: 10px;
	background: white;
	overflow: hidden;
}

#info-box {
	opacity: 0;
	position: relative;
	padding: 7.5px;
	max-height: 50vh;
	width: 95%;
	z-index: 15;
	border-radius: 10px;
	background: white;
	color: black;
	overflow-y: scroll;
	overflow-x: hidden;
}

.info-content {
	padding-top: 1.5em;
}

.info-text {
	position: relative;
	font-size: 2vh;
}


#info-city {
	font-size: 2vh;
	margin-bottom: -1em;
}

.info-title {
	font-family: 'Circular-Black';
	font-size: 3vh;
	color: black;
	font-weight: bold;
	margin-top: -0.4em;
	margin-bottom: 0.4em;
}

.info-city, #exit {
	display: inline-block;
	vertical-align: bottom;
}

#exit {
	color: #53C4CA;
	float: right;
	margin-top: -0.47em;
}

.arrow {
	color: #808080;
	text-align: center;
	margin: 0 auto;
}

.info-text, .info-link {
	line-height: 1px;
	font-size: .75em;
	color: #808080;
	font-weight: normal;
	display: inline;
}

.info-link a:visited, .info-link a:hover, .info-link a:active, .info-link a:link {
	color: #53C4CA;
	text-decoration: none;
	display: inline;
	font-family: 'Circular-Black';
}

/* Styling for Selected elements */

.selected {
	opacity: 1 !important;
}

/* Styling for Path lines */

.lineClass  {
	position: absolute;
	z-index: 1;
	stroke: #FFFFFF;
	stroke-width: 2;
	fill: #FFFFFF;
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	animation: dash 2s linear forwards;
}

.hovered {
	stroke-dashoffset: 2000;
	animation: new-dash 2s linear forwards;
}

.hovered {
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.lineClass.lineClass2 {
	stroke: #53C4CA;
	fill: #53C4CA;
	stroke-width: 4;
  	animation: dash 7s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes new-dash {
  to {
    stroke-dashoffset: 1000;
  }
}

/* Styling for Scrollbars */

#info-box::-webkit-scrollbar-track
{
	background-color: transparent;
}

#info-box::-webkit-scrollbar
{
	width: 3px;
	padding-right: 3px;
}

#info-box::-webkit-scrollbar-thumb
{
	background-color: rgba(128, 128, 128, 0.5);
}


/* Styling for opacity transitions on click */

#map, #waves, .flag, .city, .cls-18, #clouds, .lineClass, .lineClass2 {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all  .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.selected, #info-box, #info-box-container {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}


.city:hover {
	cursor: pointer;
}

.cls-17:hover {
	stroke: white;
	fill: white;
	} 

/* For tablets and mobile devices */

@media screen and (max-width: 840px) {

	body, html {
		background-color: #53C4CA;
		height: 100%;
		width: 100%;
		margin: 0px;
		overflow: none;
		font-family: 'Circular-Book';
	}

	svg, #info-box, #info-box-container, #bottom-content {
		display: none;
	}


	#logo_image {
		display: unset;
		width: 25vh;
		margin-right: 6px;
		margin-top: 5px;
	}

	#top-content {
		position: unset;
		top: unset;
		padding-left: 2%;
		margin-right: 2px;
		max-width: 100%;
		padding-bottom: 2%;
	}

	#top-content h1 {
		font-size: 5vh;
	}

	#top-content h2 {
		margin-top: 0;
		font-size: 3vh;
	}

	#top-content p {
		font-size: 2.5vh;
		width: 100%;
	}

	.mobile-info-header {
		display: block;
		position: relative;
		height: 15%;
		width: 100%;
		font-family: 'Circular-Book';
		border-top: 1.5px solid rgba(255,255,255,0.5);
		padding-top: 25px;
		padding-bottom: 25px;
		color: white;
	}

	.city_name, .icon {
		font-size: 2em;
	}

	.city_name {
		padding-left: 5%;
		font-family: 'Circular-Black';
	}

	.icon {
		position: absolute;
		right: 2%;
		-webkit-transition: transform .5s ease-in-out;
	    -moz-transition: transform  .5s ease-in-out;
	    -ms-transition: transform .5s ease-in-out;
	    -o-transition: transform .5s ease-in-out;
	    transition: transform .5s ease-in-out;
	}

	.isActive {
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			-webkit-transition: transform .5s ease-in-out;
		    -moz-transition: transform  .5s ease-in-out;
		    -ms-transition: transform .5s ease-in-out;
		    -o-transition: transform .5s ease-in-out;
		    transition: transform .5s ease-in-out;
		}

	.info-box-mobile {
		display: block;
		padding-left: 25px;
		padding-right: 25px;
		background-color: #FFFFFF;
		overflow: hidden;
	}

	.info-title, .info-text, .info-link {
		font-family: 'Circular-Book';
	}

	.info-title {
		padding-top: 25px;
		font-size: 1.25em;
		color: #53C4CA;
	}

	.info-text, .info-link {
		font-size: 1em;
		color: black;
	}

	.info-link a:visited, .info-link a:hover, .info-link a:active, .info-link a:link {
		color: #53C4CA;
		text-decoration: none;
		display: inline;
	}

	#footer-wrapper {
	    position: relative;
	    width: 100%;
	    height: 100%;
	    padding-bottom: 3em;
	    display: block;
	}

	#mobile-footer {
		position: fixed;
		top: unset;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 3em;
		display: inline-block;
	}

	#report-button, #donation-button {
		width: 50%;
		min-height: unset;
		height: 3em;
		font-size: 1em;
	}

	#report-button {
		float: left;
		margin-bottom: unset;
	}

}
